
 {# Ici j'affiche les places disponibles avec  les informations de tarifs, et de modalité #}
 {% extends 'base.html.twig' %}
 
{% block body %}

        <div class = "card text-white bg-info mb-3" style = "max-width: 20rem;">
        
            <div class = "card-header"> 
                {% for place in placesList %}
                 {# Ici sera affiché le nom de la collectivité #}
              
               <font style = "vertical-align: inherit;"> {{place.collectivite.nom}} </font> 
            </div>
            <div class = "card-body">
               
                <h4 class = "card-title"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;">{{place.age.tranche}}</font></font> </h4> 
                <p class = "card-text">  <font style = "vertical-align: inherit;">{{place.dateDebut|date('d-m-Y') }} à {{place.dateFin|date('d-m-Y') }} </font> </p>
            {# ici sera affiché la tranche d'age <p> {{ age.tranche}}</p>   #}
            </div>
            <hr>
            <div>
                <p>Condition d'inscription</p>
                <p>Contact</p>
           <hr>
           
    {% endfor %} 
       
        
     </div>
     <br>
 {% endblock %} 
