{% extends 'base.html.twig' %}
{% block body %}
  {% if app.user %}
    <div class="jumbotron">
      <div class="container centrage">
        <h1 class="display-5 titre"><b>Vous êtes connecté en tant que {{ app.user.username }}</b></h1>
          <ul class="lead"> 
            <li class="titre"><b>Votre nom : {{ app.user.nom }} </b> </li><br>
              <img src=" {{ app.user.image }}" height="350px" alt="" srcset="">
            
            <li> Votre adresse : {{ app.user.adresse }}</li> <br> 
            <li>{{ app.user.codepostal }} </li><br> 
            <li>{{ app.user.ville}}</li> 
          
            <li> Votre Télephone : 0{{ app.user.telephone }}</li>
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p>Si vous voulez modifier votre Profil, veuillez contacter votre webmaster.</p> 
             </div>
        
          </ul> 
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="{{ path('app_logout') }}" role="button">Se déconnecter</a>
            </p>
      </div>
              
    </div>
  {% endif %}
{% endblock %}