{% extends 'base.html.twig' %}
{% block body %}
{% if app.user %}
        <div class="mb-3">
        <div class="jumbotron">
  <h1 class="display-3">Vous êtes connecté en tant que {{ app.user.username }}</h1>
  <p class="lead"> Votre adresse : {{ app.user.adresse }} <br> {{ app.user.codepostal }} <br> {{ app.user.ville}} </p>

  <hr class="my-4">
  <p> Votre Télephone : {{ app.user.telephone }}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ path('app_logout') }}" role="button">Se déconnecter</a>
  </p>
</div>
            {# ici je souhaite afficher un tableau des places de la collectivité connectée listée par date #}
        </div>
    {% endif %}
    {% endblock %}