{% extends 'base.html.twig' %}

{% block title %}Enregistrer sa collectivité{% endblock %}

{% block body %}
    <section class="text-center">
        <h1 class="titre">Formulaire</h1>

            {{ form_start(registrationForm) }}
            <br>
            {{ form_row(registrationForm.nom) }}
            <br>
            {{ form_row(registrationForm.adresse) }}
            <br>
            {{ form_row(registrationForm.telephone) }}
            <br>
            {{ form_row(registrationForm.codepostal) }}
            <br>
            {{ form_row(registrationForm.ville) }}
            <br>
        
            {{ form_row(registrationForm.email) }}
            <br>
            {{ form_row(registrationForm.plainPassword) }}
            <br>
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-success">Enregistrement</button>
        </section>
    {{ form_end(registrationForm) }}
{% endblock %}
