{% extends 'base.html.twig' %}
{# seul l'admin a acces à l'enregistrement des collectivites #}
{% block title %}Enregistrer sa collectivité{% endblock %}
{# Penser à donner les mots de passe et l'adresse email utilisée pour que la collectivité puisse se connecter #}
{% block body %}
    <section class="text-center">
   
    <FONT face="Cabin Sketch" size="30">Formulaire pour une nouvelle collectivité</FONT><BR>
        

            {{ form_start(registrationForm) }}
           
            <br>
            {{ form_row(registrationForm.nom) }}
            <br>
            {{ form_row(registrationForm.image) }}
            <br>
            {{ form_row(registrationForm.adresse) }}
            <br>
            {{ form_row(registrationForm.telephone) }}
            <br>
            {{ form_row(registrationForm.codepostal) }}
            <br>
        
            {{ form_row(registrationForm.ville) }}
            <br>
        
            {{ form_row(registrationForm.email) }}
            <br>
            {{ form_row(registrationForm.plainPassword) }}
            <br>
            {{ form_row(registrationForm.agreeTerms) }}

            <center><button class="btn btn-success">Enregistrement</button></center>
        </section>
    {{ form_end(registrationForm) }}
    <br>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
{% endblock %}
