{% extends 'base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <h1 class="titre">Planning 2020</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>ActiviteMatin</th>
                <th>ActiviteAprem</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.activiteMatin }}</td>
                <td>{{ planning.activiteAprem }}</td>
                <td>
                    <a href="{{ path('planning_show', {'id': planning.id}) }}">show</a>
                    <a href="{{ path('planning_edit', {'id': planning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <button class="btn btn-warning"><a href="{{ path('planning_new') }}">Create new</a></button><br>
<img  src="https://files.slack.com/files-pri/TPR35450V-FTGNSL2M7/img_20190514_094819.jpg" height="500px" alt="">
   
{% endblock %}
