<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
        
        {% block stylesheet %} 
        <link rel="stylesheet" href="/css/style.css">
        
        {% endblock %}
    </head>
    <body>
    {# Barre navigation avec reprise des nom de route pour rediriger sur chaque page #}
        <nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand titre" href="/"> <font style = "vertical-align: inherit;"size="20">  Youpi </font> </a>
            <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor02" aria-controls = "navbarColor02" aria-extended = "false" aria-label = "Basculer la navigation ">
                <span class = "navbar-toggler-icon"> </span>
            </button>

            <div class = "collapse navbar-collapse" id = "navbarColor02">
                <ul class = "navbar-nav mr-auto">
                    <li class = "nav-item active">
                        <a class="nav-link" href="{{ path('dispo') }}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Places Disponibles</font> </font> <span class = "sr-only"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> (actuel) </font> </font> </ span > </a>
                    </li>
                   
                    <li class = "nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Connexion Pro</font> </font> </a>
                    </li> 
                    {# Ici seul une collectivite aura acces #}
                    {% if is_granted('ROLE_USER')%}
                    <li class = "nav-item">
                        <a class="nav-link" href="{{ path('profil') }}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Votre Profil</font> </font> </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER')%}
                    <li class = "nav-item">
                        <a class="nav-link" href="{{ path('place') }}"> <font style = "my-2 my-lg-0 "> <font style = "vertical-align: inherit;"> Créer une place</font> </font> </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER')%}
                    <li class = "nav-item">
                        <a class="nav-link" href="{{ path('planning_index') }}"> <font style = "my-2 my-lg-0 "> <font style = "vertical-align: inherit;"> Créer votre planning</font> </font> </a>
                    </li>
                    {% endif %}
                    {# Ici seul l'admin aura acces #}
                    {% if is_granted('ROLE_ADMIN')%}
                    <li class = "nav-item">
                        <a class="nav-link" href="{{ path('collectivite_index') }}"> <font style = "my-2 my-lg-0 "> <font style = "vertical-align: inherit;"> Espace Admin</font> </font> </a>
                    {% endif %}</li>
                    {% if is_granted('ROLE_ADMIN')%}
                    <li class = "nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Enregistrer une collectivité</font> </font> </a>
                    </li>
                    {% endif %}
                    
                </ul> 
                  
            </div>

        </nav>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    
        <br>
     
        
            <div class="row footer logo bg-primary ">
                <a href="http://www.lyon.fr/"><img src="https://www.ttgerland.fr/media/uploaded/sites/13794/partenaire/5b859a737b49c_villedelyon.png" alt="logo de la ville de Lyon"></a>
                   
                        <a href="https://www.facebook.com/villedelyon"><img src="https://img.icons8.com/color/128/000000/facebook.png"></a>
                        <a href="https://www.youtube.com/channel/UCy9dUfcCpT9mdFr4bkRK9vw"><img src="https://img.icons8.com/color/128/000000/youtube.png"></a>
                        <a href="https://www.instagram.com/villedelyon/"> <img src="https://img.icons8.com/dusk/128/000000/instagram-new.png"></a>
                   
                <a href="https://www.caf.fr/"><img src="https://pbs.twimg.com/profile_images/1088442273027698689/jGmTJUCS_400x400.jpg" height="200 px" alt="logo de la caf"></a>
            </div>  
        

        
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
    </body>
</html>

